/* 
* accent-a: rgb(234, 36, 48) 
* accent-a dull: rgb(204, 6, 18) 
* accent-b: rgb(72, 174, 198) 
* accent-b dull: rgb(42, 144, 168) 
*/

body {
    background: rgb(240, 240, 240);
    padding-top: 64px;
    padding-bottom: 96px;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 40px;
    font-weight: 800;
    left: 0px;
    letter-spacing: 0.7px;
    line-height: 52px;
    text-transform: uppercase;
}

h1  { 
    font-size: 2em; 
}

h1 { 
    color: #fff;    
    background: #000;
    padding: 16px;
    border: none;
    border-radius: 8px;
    text-align: center;
}

h1.accent-a {
    background: rgb(234, 36, 48);
}

h1.accent-b {
    background: rgb(72, 174, 198);
}

h2 {
    font-size: 1.5em;
}

h2.accent-a {
    color: rgb(234, 36, 48);
}

h2.accent-b {
    color: rgb(72, 174, 198);
}

h3 { 
    font-size: 1.17em; 
}

h3.accent-a {
    color: rgb(234, 36, 48);
}

h3.accent-b {
    color: rgb(72, 174, 198);
}

h5 { 
    font-size: .83em; 
}

h6 { 
    font-size: .75em; 
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-bottom: 1em;
}

p {
    line-height: 140%;
}

a {
    color: rgb(234, 36, 48);
    text-decoration: underline;
}

strong {
    font-weight: 800;
}

em {
    font-style: italic; 
}

span.accent-a {
    color: rgb(234, 36, 48);
    font-weight: 800;
}

span.accent-b {
    color: rgb(72, 174, 198);
    font-weight: 800;
}

.grouping { 
    display: block;
    background: #fff;
    padding: 16px;
    border: none;
    border-radius: 8px;
    margin-bottom: 2em;
}

#loading {
    text-align: center;
    font-weight: 800;
}

#alert {
    display: none;
    position: fixed;
    width: 320px;
    min-height: 96px;
    top: 32px;
    right: 50%;
    margin-right: -160px;
    background: #fff;
    padding: 16px;
    border: 3px solid #000;
    border-radius: 8px;
}

#introduction {
    display: none;
}

#genders {
    display: none;
}

#partnerAReady {
    display: none;
}

#partnerAQuestions {
    display: none;
}

#partnerBReady {
    display: none;
}

#partnerBQuestions {
    display: none;
}

#resultsReady {
    display: none;
}

#results {
    display: none;
}

#feedback {
    display: none;
}

input[type=button], input[type=button] + label, input[type="radio"] + label, input[type="checkbox"] + label, .button {
    display: table-cell;
    width: 10em;
    height: 4em;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1em; 
    letter-spacing: 0.7px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.4em;
    vertical-align: middle;
    cursor: pointer;
}

input, input + label, .button {
    color: #000;
    background: #ddd;
}

input:hover, input:hover + label, .button:hover {
    background: #999;
}

input.accent-a, input + label.accent-a, input:hover.accent-a, input:hover + label.accent-a, input[type="radio"]:checked:hover + label.accent-a {
    color: #fff;
    background: rgb(234, 36, 48);
}

input.accent-b, input + label.accent-b, input:hover.accent-b, input:hover + label.accent-b, input[type="radio"]:checked:hover + label.accent-b {
    color: #fff;
    background: rgb(72, 174, 198);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 4em;
    height: 4em;
}

input[type="checkbox"] + label span {
    line-height: 2em;
    font-size: 2em;
    vertical-align: middle;
    color: #333;
}

input[type="checkbox"]:checked + label span {
    color: #fff;
}

input[type="checkbox"]:not(:checked) + label.accent-a span {
    color: rgb(204, 6, 18);
}

input[type="checkbox"]:not(:checked) + label.accent-b span {
    color: rgb(42, 144, 168);
}

input[type="radio"]:not(:checked) + label  {
    color: #000;
    background: #ddd;
}

input[type="radio"]  {
    display: none;
}

input[type="radio"]:hover + label {
    background: #999;
}

.choices {
    text-align: center;
    width: 100%;
}

.choices li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}

.centered {
    text-align: center;
}
